#navigation {
    height: 36px;
    width: 100%;
    transition: background-color 0.8s;
    z-index: 1;
    opacity: 0.85;
    ul {
      width: 210px;
      height: 100%;
      margin: auto;
			text-align: center;
      li {
        float: left;
        width: 70px;
        height: 36px;
      }
    }
    a {
      text-decoration: none;
      display: block;
      margin-top: 9px;
      text-transform: uppercase;
      font-size: 18px;
      color: gray;
      transition: 0.5s;
      font-weight: bold;
      &:hover {
        color: rgb(154, 239, 244);
      }
    }
    .social-wrapper {
      position: absolute;
      top: 8px;
      right: 2%;
      width: auto;
      .social_icon {
        height: 23px;
        width: 110px;
        a {
          margin: 0;
        }
        div {
          background-size: 120px;
          height: 20px;
          width: 23px;
          transition: none;
        }
        .mywed {
            background-position: 2px 0;
            &:hover {
                background-position: 2px 20px;
            }
        }
        .fb {
            background-position: -25px 0;
            width: 15px;
            &:hover {
                background-position: -25px 20px;
            }
        }
        .vk {
            background-position: -44px 0;
            &:hover {
                background-position: -44px 20px;
            }
        }
        .insta {
            background-position: -68px 0;
            &:hover {
                background-position: -68px 20px;
            }
        }
        .mail {
            background-position: -92px 0;
            width: 24px;
            &:hover {
                background-position: -92px 20px;
            }
        }
      }
    }
    @media (max-width: 567px) {
        .social-wrapper {
          display: none;
        }
    }
}
