#navigation {
    height: 36px;
    width: 100%;
    transition: background-color 0.8s;
    z-index: 1;
    opacity: 0.8;
    ul {
      width: 209px;
      height: 100%;
      margin: auto;
      li {
        float: left;
        padding: 0 10px 0 10px;
        height: 36px;
      }
    }
    a {
      text-decoration: none;
      display: block;
      margin-top: 9px;
      text-transform: uppercase;
      font-size: 18px;
      color: black;
      transition: 0.5s;
      font-weight: bold;
      &:hover {
        color: rgb(154, 239, 244);
      }
    }
}
