.services {
    margin: auto;
    padding-top: 15px;
    max-width: 920px;
    height: 100%;
    .h1_services {
        text-align: center;
        margin-bottom: 20px;
    }
    .other-shot-block {
      clear: both;
      padding-top: 20px;
    }
    .services_block {
        height: 480px;
        width: 300px;
        float: left;
        img {
          height: 290px;
        }
        &.otherShoot {
            float: none;
            margin: auto;
        }
        .services_text {
            padding: 15px 0 0 35px;
            font-size: 1.1em;
            .services_general_text {
                font-weight: bold;
            }
        }
    }
    @media (max-width: 1024px) {
        .services_block {
            display: block;
            margin: auto;
            float: none;
            width: 615px;
            height: 290px;
            margin-top: 5px;
            .services_text {
                display: inline-block;
                padding: 60px 0 0 15px;
                font-size: 1.1em;
                vertical-align: top;
            }
        }
        .other-shot-block {
          padding-top: 0;
          .services_block.otherShoot {
            height: 343px;
            padding: 5px 0 5px 0;
            .services_text {
              padding-top: 115px;
            }
          }
        }

    }
    @media (max-width: 568px) {
        .services_block {
            height: 480px;
            width: 300px;
            display: block;
            margin-bottom: 30px;
            .services_text {
                padding: 10px 0 0 30px;
                display: inline-block;
                .services_general_text {
                  text-align: center;
                }
            }
        }
        .other-shot-block {
          .services_block.otherShoot {
            height: 450px;
            .services_text {
              padding: 10px 0 0 30px;
            }
          }
        }

    }
}
// .wedding_all {
//     max-width: 900px;
//     min-height: 800px;
// }
